.container_auth {
	margin-top: 8%;
	font-family: 'Open Sans Light';
	form {
		label {
			color: #edeff1;
		}
		small {
			color: white;
		}
	}
	.login_h1 {
		margin: 5% auto;
		text-align: center;
	}

	.button_auth_form {
		position: relative;
		margin-top: 10%;
	}

	.auth_spinner {
		margin: 5% auto;
		text-align: center;
	}

	.buttons_auth_form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 75%;

		.button_auth_form {
			margin-top: 10%;
		}

		.register_button_in_auth {
			margin-top: 10%;
		}
	}

	.auth_register {
		margin: 5% auto;
		text-align: center;
	}

	.auth_spinner {
	}

	.toggle_auth_success {
		margin: 5% auto;
		width: 50%;
		text-align: center;
		background-color: rgba(0, 255, 2, 0.6);
		border-radius: 5% 5% 10% 10%;
		padding: 1%;
		span {
			font-weight: bold;
			color: rgba(0, 0, 0, 0.6);
			text-align: center;
			font-size: 16px;
		}
	}
	.toggle_auth_success_spinner {
		margin: 0 auto;
		text-align: center;
	}
	.error_toggle_auth_success {
		margin: 5% auto;
		text-align: center;
		background-color: #f54e4e;
		border-radius: 5%;
		width: 50%;
		padding: 1%;

		span {
			padding: 5%;
			font-weight: bold;
			color: navajowhite;
			font-size: 13px;
			text-align: center;
		}
	}
}

@media (max-width: 500px) {
	.container_auth {
		width: 100%;
		margin-top: 50%;

		.login_h1 {
			h1 {
				position: relative;
				text-align: center;
				margin-bottom: 40%;
				margin-top: -40%;
			}
		}

		.auth_spinner {
			margin: 5% auto;
			text-align: center;
		}

		.buttons_auth_form {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 40%;

			.button_auth_form {
				margin-top: 10%;
			}

			.register_button_in_auth {
				margin-top: 10%;
			}
		}

		.toggle_auth_success {
			margin: 5% auto;
			text-align: center;
			background-color: rgba(0, 255, 2, 0.3);
			border-radius: 5% 5% 10% 10%;

			span {
				padding: 5%;
				font-weight: bold;
				color: #333;
				font-size: 13px;
				text-align: center;
			}
		}

		.error_toggle_auth_success {
			margin: 5% auto;
			text-align: center;
			background-color: #f54e4e;
			border-radius: 5%;
			width: 100%;
			padding: 1%;

			span {
				padding: 5%;
				font-weight: bold;
				color: navajowhite;
				font-size: 13px;
				text-align: center;
			}
		}
	}
}
