.contacts_row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin: 5% auto 0 2%;
	text-align: center;
	width: 80%;
	.add_contact {
		width: 30%;
		display: grid;
		grid-template-columns: 1fr 0.2fr;
		margin-bottom: 5%;
		border: 2.5px solid #6c757d;
		border-radius: 5%;
		background-color: #5a6268;
		.btn-secondary {
			background-color: #5a6268;
			border-color: #5a6268;
		}
		.add_contact_svg {
			margin-top: 15%;
			text-align: center;
			color: #edeff1;
		}
	}
	.card {
		color: rgb(235, 217, 217);
		border-radius: 5%;
		background-color: rgba(51, 47, 47, 0.308);
	}
	.active {
		background-color: rgba(113, 235, 225, 0.143);
	}
	.card-body {
		border-radius: 5%;
		border: 2.5px solid #6c757d;
		cursor: pointer;
		margin: 0;
		.change_contact {
			margin: 5% 0 0 30%;
			width: 50%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;
			text-align: center;

			.change_contact_a {
				text-decoration: none;
				color: rgb(66, 167, 185);
				.card-link {
					display: grid;
					border-radius: 5%;
				}
				.edit_contact {
					padding: 5%;
					width: 50%;
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
				.edit_contact:hover {
					background-color: rgba(216, 193, 193, 0.37);
				}
			}
		}
		.delete_contact {
			padding: 5%;
			cursor: pointer;
			color: rgb(216, 128, 128);
			width: 70%;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.delete_contact:hover {
			background-color: rgba(216, 193, 193, 0.37);
		}
	}
	.fullContact {
		margin: 10% 0 0 10%;
	}
}
