.contacts_row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	margin: 5% auto 0 auto;
	text-align: center;
	.add_contact {
		margin-bottom: 5%;
	}
	.active {
		background-color: red;
	}
}
